.service-unavailable-page__title {
    font-size: 2.8rem;
    font-weight: 600;
 }
 
 .service-unavailable-page__message {
    padding: 3rem 0;
    font-size: 1.8rem;
    max-width: 77rem;
    text-align: center;
 }
 
 .email-form__text-field div {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;

   width: 30rem;
 }

 .email-form__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 }