
.vso-splash-screen {
    z-index: 0;
}

.vso-splash-screen .tab1,
.vso-splash-screen .tab2,
.vso-splash-screen .tabs,
.vso-splash-screen .line,
.vso-splash-screen ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box
}

@keyframes shimmer {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000px 0;
    }
}
  
.vso-splash-screen .sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    border-right: 1px solid #DDE0E4;
}

.vso-splash-screen .is-vs-codespaces .sidebar {
    background: rgb(51, 51, 51);
    border-right: 1px solid #181818;
}

.vso-splash-screen .container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 48px 300px 0.5fr 0.5fr;
    grid-template-rows: 35px auto 22px;
    background: white;
}

.vso-splash-screen .is-vs-codespaces {
    background: rgb(30, 30, 30);
}
  
.vso-splash-screen .logo {
    width: 26px;
    height: 26px;
    margin: 12px auto;
    fill: #959DA5;
    display: block; 
}

.vso-splash-screen .tree { 
    grid-column: 2;
    grid-row: 1 / 3;
    padding: 0 20px;
    background: #F5F7F9;
    border-right: 1px solid #DDE0E4;
}

.vso-splash-screen .is-vs-codespaces .tree {
    background: #252526;
    border-right: 1px solid #181818;
}

.vso-splash-screen .lines {
    position: relative;
    list-style-type: none;
    padding: 0;
}

.vso-splash-screen .code {
    grid-column: 3;
    grid-row: 2;
    border-right: 1px solid #DDE0E4;
}

.vso-splash-screen .is-vs-codespaces .code {
    background: rgb(30, 30, 30);
    border-right: 1px solid #181818;
}

.vso-splash-screen .tabs-code {
    grid-column: 3;
    border-right: 1px solid #DDE0E4;
    list-style-type: none;
    padding: 0;
}

.vso-splash-screen .is-vs-codespaces .tabs-code{
    background: rgb(30, 30, 30);
    border-right: 1px solid #181818;
}

.vso-splash-screen .lines:before {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(244,247,249,0), rgba(244,247,249,1));
    content: "";
    position: absolute;
    z-index: 5;
}
  
.vso-splash-screen .code .lines:before {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    left: 0px;
}

.vso-splash-screen .is-vs-codespaces .lines:before {
    background: linear-gradient(to bottom, rgba(244,247,249,0), rgba(37,37,38,1));
}
  
.vso-splash-screen .is-vs-codespaces .code .lines:before {
    background: linear-gradient(to bottom,  rgb(30, 30, 30,0), rgba(30,30,30,1));
}

.vso-splash-screen .tree .lines { padding-top: 4px; }

.vso-splash-screen .code .lines {
  padding-left: 14px;
  padding-top: 5px;
}

.vso-splash-screen .line {
    height: 12px;
    width: 96px;
    background: linear-gradient(to right, #D1D5DA 40%, #eee 50%, #D1D5DA 60%);
    background-size: 1000px 100%;
    margin: 10px 0 14px;
    position: relative;
    animation: shimmer 2s infinite;
}

.vso-splash-screen .is-vs-codespaces .line {
    background: linear-gradient(to right, #5a5a5a 40%, #868686 50%, #5a5a5a 60%);
    background-size: 1000px 100%;
}

  
.vso-splash-screen .tree .lines { padding-top: 4px; }
  
.vso-splash-screen .code .lines {
    padding-left: 14px;
    padding-top: 5px;
}
  
.vso-splash-screen .code .line { 
    min-width: 16px;
    background: linear-gradient(to right, #E1E4E8 40%, #f1f1f1 50%, #E1E4E8 60%);
    background-size: 1000px 100%;
    animation-delay: 0.25s
}

.vso-splash-screen .is-vs-codespaces .code .line {
    background: linear-gradient(to right, #464545 40%, #7d7d7d 50%, #464545 60%);
    background-size: 1000px 100%;
}
  
.vso-splash-screen .code li:before {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 16px;
    height: 12px;
    left: 16px;
}

.vso-splash-screen .is-vs-codespaces .code li:before {
    background: rgb(30, 30, 30);
}

.vso-splash-screen .tabs {
    grid-row: 1;
    display: flex;
}
  
.vso-splash-screen .tabs-steps {
    grid-column: 4;
}
  
.vso-splash-screen .tabs li { padding: 0 14px; }
 
.vso-splash-screen .is-vs-codespaces .tab1 {
    background: rgb(30, 30, 30);
}

.vso-splash-screen .tab1 .line {
    background: linear-gradient(to right, #959DA5 40%, #bbb 50%, #959DA5 60%);
    background-size: 1000px 100%;
    animation-delay: 0.25s
}

.vso-splash-screen .is-vs-codespaces .tab1 .line {
    background: linear-gradient(to right, #404040 40%, #757575 50%, #404040 60%);
    background-size: 1000px 100%;
}
  
.vso-splash-screen .tabs-steps .line {
    animation-delay: 0.6s   
}

.vso-splash-screen .tab2 {
    flex-grow: 1;
    background: #F5F7F9;
    border-left: 1px solid #DDE0E4;
    border-bottom: 1px solid #DDE0E4;
}

.vso-splash-screen .is-vs-codespaces .tab2 {
    background: rgb(37, 37, 38);
    border-left: 1px solid #272727;
    border-bottom: 1px solid #272727;
}
  
.vso-splash-screen .tab2 .line {
    animation-delay: 0.35s
}

.vso-splash-screen .bottom {
    grid-column: 1 / 5;
    grid-row: 3;
    background: #FAFBFD;
    border-top: 1px solid #DCE0E5;
}

.vso-splash-screen .is-vs-codespaces .bottom {
    background: rgb(0, 122, 204);
    border-top: #181818;
}

.vso-splash-screen .connection-stack {
    background: white;
}

.vso-splash-screen .is-vs-codespaces .connection-stack {
    background: rgb(30, 30, 30);
}

.vso-splash-screen .text-color {
    color: black;
}

.vso-splash-screen .is-vs-codespaces .text-color {
    color: #cccccc;
}

@media (max-width: 1500px) {
    .vso-splash-screen .connection-stack {
        grid-column: 3;
        grid-row: 2/3;
        grid-column-end: none;
    }
    .vso-splash-screen .code,
    .vso-splash-screen .tabs-code {
      display: none;
    }
    .vso-splash-screen .steps,
    .vso-splash-screen .tabs-steps {
      grid-column: 3 / 5;
    }
    .vso-splash-screen .tabs-steps .line {
      animation-delay: 0.25s   
    }
    .vso-splash-screen .steps {
      max-width: 700px;
    }
}

.vscs-splash-screen-steps-pane {
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 1500px) {
    .vso-splash-screen .container {
        grid-template-columns: 48px 300px 1fr;
    }
    .vscs-splash-screen-steps-pane {
        grid-column: 3;
    }
}
