/* Main Pane */
.vsonline-splash-screen-main {
    display: flex;
}

/* Editor side of the splash screen */
.vsonline-splash-screen-editor {
    flex: 1;
}

/* Splash screen body */

.vsonline-splash-screen-body {
    background: #1E1E1E;
    height: 100vh;
    box-sizing: border-box;
}

/* Github splash screen body */

.is-github .vsonline-splash-screen-body {
    background: #FFFFFF;
}

/* Editor Header */
.vsonline-splash-screen-titlebar {
    position: relative;
    height: 35px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #252526;
}

/* Github Editor Header */
.is-github .vsonline-splash-screen-titlebar {
    background: #F3F3F3;
}

/* Tabs */
.vsonline-splash-screen-titlebar-tab {
    position: relative;
    width: 122px;
    height: 35px;
    left: 0px;
    top: 0px;
    background: #1E1E1E;
}

/* Github Tabs */
.is-github .vsonline-splash-screen-titlebar-tab {
    background: #FFFFFF;
}

/* Sidebar */
.vsonline-splash-screen-tree-pane {
    position: relative;
    width: 169px;
    bottom: 22px;
    /* Dark / Base / Base 20 */
    background: #252526;
}

/* Github Sidebar */
.is-github .vsonline-splash-screen-tree-pane {
    background: #FAFBFC;
}

/* Template / Default */
.vsonline-splash-screen-extensions-pane {
    position: relative;
    width: 48px;
    left: 0px;
    bottom: 1px;
    /* Dark / Base / Base 17 */
    background: #333333;
}

/* Github extensions pane */
.is-github .vsonline-splash-screen-extensions-pane {
    background: #24292e;
}

/* Github main text color */
.is-github .text-color {
    color: #616161;
}

/* Main text color */
.text-color {
    color: #B4B4B4;
}