@{
    Layout = "~/Views/Shared/_WorkbenchPageLayout.cshtml";
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visual Studio Online</title>
    </head>
    <body>
        <div id="js-vscode-workbench"></div>
        
        <script src="~/workbench-page/amdconfig.js"></script>
        <script src="~/workbench-page/dist/vso-workbench.js"></script>
    </body>
</html>