<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/" />
    <add key="msbuild" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" />
    <add key="vssaas-sdk" value="https://devdiv.pkgs.visualstudio.com/_packaging/vssaas-sdk/nuget/v3/index.json" />
    <add key="Cascade" value="https://devdiv.pkgs.visualstudio.com/_packaging/Cascade/nuget/v3/index.json" />
    <add key="MEE.Privacy" value="https://microsoft.pkgs.visualstudio.com/_packaging/MEE.Privacy/nuget/v3/index.json" />
  </packageSources>
</configuration>
