.navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation__link-icon {
    margin: .4rem 1.6rem 0 .5rem;
}

.navigation__row, .navigation__row a {
    width: 100%;
}

.navigation__row-active {
    /* Gray30 */
    background-color: #EDEBE9;
}

.navigation__settings-row {
    position: absolute;
    bottom: 0;
}