.environment-card {
    min-width: 37rem;
    max-width: 40.4rem;
    height: 24rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    border-radius: 2px;
    padding: .4rem;
    box-sizing: border-box;
}

.environment-card__environment-name {
    flex-grow: 1;
}

.environment-card__environment-icon {
    font-size: 2rem;
    margin: 1.6rem;
    margin-right: .8rem;
}


.environment-card__tag {
    padding: .4rem .8rem;
    border-radius: .4rem;
    float: right;
}

.environments-panel__create-button {
    display: inline;
}

.environments-panel__tar {
    text-align: right;
}

.environment-card__thin-separator {
    margin: .4rem 0;
    height: 1px;
}

.environment-card__details-table {
    display: table;
    margin: 1.2rem;
    width: calc(100% - 2.8rem);
    table-layout: fixed;
}
.environment-card__details-table-row {
    display: table-row;
}
.environment-card__details-table-cell {
    display: table-cell;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.environment-card__details-label {
    white-space: nowrap;
    width: 7rem;
}

.environment-card__details-value {
    overflow: hidden;
}

.environment-card__status {
    border-radius: 2px;
    padding: .4rem .8rem;
    margin: 1.2rem;
    font-size: 1rem;
}
