<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Gallery.AzureGalleryUtility" version="5.1.0.19" targetFramework="net451" />
  <package id="Microsoft.Azure.Gallery.Common" version="5.1.0.19" targetFramework="net45" />
  <package id="Microsoft.Portal.Extensions.AAD" version="1.0.0.651" targetFramework="net45" />
  <package id="Microsoft.Portal.Extensions.Hubs" version="6.317.0.5" targetFramework="net45" />
  <package id="Microsoft.Portal.TestFramework.UnitTest" version="6.317.0.5" targetFramework="net452" />
  <package id="Microsoft.Portal.Tools" version="6.317.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" />
</packages>