
.vso-button {
    display: inline-block;
    color: white;
    background: #0278D5;
    padding: .5rem 1.3rem .7rem;
    border-radius: .2rem;
    text-decoration: none;
    font-weight: bold;
}

.vso-button:hover {
    background: #1388E4;
    cursor: pointer;
}

a.vso-button:hover {
    text-decoration: underline;
}
