.vsonline-titlebar {
    background-color: #141414;
    min-height: 4.8rem;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vsonline-titlebar__main-avatar {
    /* (4 - 2.8) / 2 */
    margin-top: .6rem;
    justify-self: flex-end;
}

.vsonline-titlebar__caption {
    color: white;
    font-size: 14px;
    letter-spacing: .025rem;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.vsonline-titlebar__logo {
    background-image: url('/ms-logo.svg');
    width: 11.3rem;
    height: 2.4rem;
    margin: 0 1.6rem;
}

.vsonline-titlebar__separator {
    height: 2.4rem;
}

.vsonline-titlebar__caption-text {
    margin: 0 3rem 0 1.6rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.vsonline-titlebar__plan-selector {
    width: 18rem;
}