.vscs-dev-panel-header {
    padding-right: calc(var(--dev-panel-height) + var(--grid-unit));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 0;
}

.vscs-dev-panel-header__section {
    position: relative;
    height: var(--dev-panel-height);
    line-height: var(--dev-panel-height);
    float: left;
    overflow: hidden;
}

.vscs-dev-panel-header__section--text {
    padding-left: calc(1 * var(--grid-unit));
}

.vscs-dev-panel-header__section--text + .vscs-dev-panel-header__section--text {
    padding-left: calc(.5 * var(--grid-unit));
}

.vscs-dev-panel-header__section-title {
    color: var(--dev-panel-text-color);
    cursor: default;
}

.vscs-dev-panel-header__section::selection {
    background-color: var(--dev-panel-selection-color);
}

.vscs-dev-panel-header__emoji {
    display: inline-block;
    border-right: 1px solid var(--dev-panel-border-color);
    padding: 0 calc(.7 * var(--grid-unit));
    height: 100%;
}

.vscs-dev-panel-header__git-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(20 * var(--grid-unit));
    cursor: pointer;
}

.vscs-dev-panel-header__git-info:hover {
    max-width: inherit;
}

.vscs-dev-panel-header__git-info a {
    text-decoration: none;
    color: #0091FF;
    padding: 0 calc(.5 * var(--grid-unit));
}

.vscs-dev-panel-header__git-info a:hover {
    opacity: .85;
    text-decoration: underline;
}
