.welcome-page {}

.welcome-page__sign-in-buttons {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.welcome-page__sign-in-label {
	margin: 1.6rem 0;
	display: block;
	text-align: center;
}

.welcome-page__sign-in-button {
	margin-right: 1rem;
}

.welcome-page__sign-in-button:last-child {
	margin-right: 0;
}
