/* Theming */

.monaco-workbench .part.editor>.content .welcomePage .detail {
	color: rgba(204, 204, 204, 0.7);
}

.monaco-workbench .part.editor>.content .welcomePage .caption {
	color: #cccccc;
}

.monaco-workbench .part.editor>.content .welcomePage .commands .item button {
	background: rgba(0, 0, 0, .2);
}

.monaco-workbench .part.editor>.content .welcomePage .commands .item button:hover {
	background: rgba(200, 235, 255, .072);
}

.monaco-workbench .part.editor>.content .welcomePage a {
	color: #3794ff;
}

.monaco-workbench .part.editor>.content .welcomePage a:hover, .monaco-workbench .part.editor>.content .welcomePage a:active {
	color: #3794ff;
}

.monaco-workbench .part.editor > .content .welcomePage a:focus {
	outline-color: rgba(14, 99, 156, 0.8);
}

.monaco-workbench .part.editor > .content .welcomePage .commands .item button {
	border-color: none;
}

.monaco-workbench .part.editor>.content .welcomePage .row .commands, .monaco-workbench .part.editor>.content .welcomePage .row .commands .list, .monaco-workbench .part.editor>.content .welcomePage .row .section, .monaco-workbench .part.editor>.content .welcomePage .row .splash {
	overflow: hidden;
}