
.environments-panel {
    margin: 0 auto;
    position: relative;
    background: white;
    max-width: 133rem;
}

.environments-panel__create-button {
    margin: 1.5rem 0.8rem 4rem 0;
}

.environments-panel__environments {
    padding-bottom: 2rem;
}

.environments-panel__environments-spinner {
    position: relative;
    top: 8rem;
}

.environments-panel__no-environments {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.4rem;
    margin-top: 10rem;
}

.environments-panel__no-environments-label {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}