<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Visual Studio Codespaces: Platform</title>
    </head>

    <body>
        <script src="~/platform-auth.js"></script>
    </body>

</html>
