@{
    Layout = "~/Views/Shared/_WorkbenchPageLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Codespaces</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/legomushroom/vs-codespaces-loading-screen@d5b138c96c4e3dada8fe3f1cc002485fc4cf1761/index.css">
        <style>
            html, body {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <span id="js-partner-info" style="display: none;">
            @ViewData["partner-info"]
        </span>

        <div class="vso-splash-screen @(ViewData["shimmer-logo-class-name"])"><div class="container @(ViewData["shimmer-theme-color-class-name"])"><div class="sidebar"><svg class="logo vso-splash-screen-logo" height="26" viewBox="0 0 16 16" version="1.1" width="26" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></div><div class="tree"><div class="line"></div><ul class="lines"><li class="line" style="width: 60%;"></li><li class="line" style="width: 70%;"></li><li class="line" style="width: 50%;"></li><li class="line" style="width: 64%;"></li><li class="line" style="width: 83%;"></li><li class="line" style="width: 81%;"></li><li class="line" style="width: 40%;"></li><li class="line" style="width: 50%;"></li><li class="line" style="width: 68%;"></li><li class="line" style="width: 60%;"></li><li class="line" style="width: 75%;"></li><li class="line" style="width: 77%;"></li><li class="line" style="width: 40%;"></li></ul></div><div class="code"><ul class="lines"><li class="line" style="width: 30%;"></li><li class="line" style="width: 70%;"></li><li class="line" style="width: 50%;"></li><li class="line" style="width: 25%;"></li><li class="line" style="width: 0%;"></li><li class="line" style="width: 15%;"></li><li class="line" style="width: 40%;"></li><li class="line" style="width: 55%;"></li><li class="line" style="width: 15%;"></li><li class="line" style="width: 0%;"></li><li class="line" style="width: 60%;"></li><li class="line" style="width: 75%;"></li><li class="line" style="width: 77%;"></li><li class="line" style="width: 40%;"></li></ul></div><div class="vscs-splash-screen-steps-pane"> <div class="vso-splash-screen__block"><div class="vso-splash-screen__message"> Authenticating the codespace...</div></div> </div><ul class="tabs-code tabs"><li class="tab1"><div class="line"></div></li><li class="tab2"><div class="line"></div></li></ul><ul class="tabs-steps tabs"><li class="tab1"><div class="line"></div></li><li class="tab2"></li></ul><div class="bottom"></div></div></div>

        @if ((bool)@ViewData["is-local"] == true)
        {
            <script src="/static/js/platform-authentication.js"></script>
        }
    </body>
</html>
