always-auth=true
@vs:registry=https://devdiv.pkgs.visualstudio.com/_packaging/VS/npm/registry/
@vsliveshare:registry=https://devdiv.pkgs.visualstudio.com/_packaging/Cascade/npm/registry/
@playwright:registry=https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/playwright/npm/registry/
registry=https://devdiv.pkgs.visualstudio.com/_packaging/NodeRepos/npm/registry/