@using Microsoft.VsCloudKernel.Services.Portal.WebSite
@model LiveShareConnectionDetails

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connecting to server... </title>
</head>
<body>
    <p>Connecting to server...</p>
    <script>
        if ("serviceWorker" in navigator) {
            
            navigator.serviceWorker.register("/service-worker.js", { scope: "/" });
            navigator.serviceWorker.ready.then(registration => {
                
                // Configure the LiveShare endpoint to be used by the service worker.
                registration.active.postMessage({
                    type: "cloudenv/configure",
                    payload: {
                        liveShareEndpoint: "@Model.LiveShareEndPoint",
                        features: {
                            useSharedConnection: false,
                        },
                    }
                });

                // Send credentials to the service worker.
                registration.active.postMessage({
                    type: "cloudenv/authenticate",
                    payload: {
                        token: "@Model.CascadeToken",
                        sessionId: "@Model.SessionId"
                    }
                });

                console.warn("reload");
                setTimeout(() => {
                    location.reload();
                }, 100);
            });

            // TODO: Need to reload the page even if there are errors with some connection error message
        }
    </script>
</body>
</html>