node_modules/

packages/*/src/**/*.js
packages/*/src/**/*.d.ts
packages/*/tsconfig.tsbuildinfo

packages/*/lib/
packages/*/commonjs/
packages/*/junit.xml

!packages/*
!packages/*/src/typings/*.d.ts

build/

public/workbench-page/web-standalone
vscode-downloads/workbench-page/web-standalone

# Misc

.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

service-worker-graph.svg
main-graph.svg