<!DOCTYPE html>
<html>
<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/site.css" />
    </environment>
</head>
<body>
    <div class="vsonline-titlebar part">
        <div class="vsonline-titlebar__caption" aria-label="Visual Studio logo">
            <div class="vsonline-titlebar__logo"></div>
            <div class="vsonline-titlebar__separator"></div>
            <div class="vsonline-titlebar__caption-text">
                Visual Studio Online
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>