.ext-overview-title {
    margin-top: 30px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    line-height: 28px;
}
.ext-overview-header {
    margin-top: 30px;
}
.ext-main-section {
    padding: 15px;
}
.ext-revealonhover-parent:hover .ext-revealonhover-child,
.ext-revealonhover-parent:active .ext-revealonhover-child {
    opacity: 1;
}
.ext-revealonhover-child {
    transition: 100ms;
    opacity: 0;
}
