.web {
    --monaco-monospace-font: Monaco, Menlo, Inconsolata, "Courier New", monospace;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.portal-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.portal-layout__app-content {
    height: calc(100% - 4rem);
    display: flex;
}

.portal-layout__app-content-container,
.portal-layout__app-navigation-container {
    height: 100%;
}

.portal-layout__app-navigation-container {
    width: 17rem;
}

.portal-layout__app-content-container {
    flex-grow: 1;
    overflow: auto;
}